@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');

body {
  font-family: 'Kavivanar', cursive;
  background-color: #F3EDE2;
}
.color-box {
  background-color:green;
  position: relative;
  width:80%;
  height:650px;

  margin-top: 9%;
  margin-left: 10%;
  z-index: -1;
}


#play-pause-button{
  font-size: 50px;
  cursor: pointer;
}

#play-pause-button2{
  font-size: 50px;
  cursor: pointer;
}

#play-pause-button3{
  font-size: 50px;
  cursor: pointer;
}

#play-pause-button4{
  font-size: 50px;
  cursor: pointer;
}

#play-pause-button5{
  font-size: 50px;
  cursor: pointer;
}

#play-pause-button6{
  font-size: 50px;
  cursor: pointer;
}

#play-pause-button7{
  font-size: 50px;
  cursor: pointer;
}

#play-pause-button8{
  font-size: 50px;
  cursor: pointer;
}

#play-pause-button9{
  font-size: 50px;
  cursor: pointer;
}

/*---------------footer--------------------*/
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: #F3EDE2;
       color: #B8A27A;
       text-align: center;
    }
    .p {
      font-family: 'Kavivanar', cursive;
      color: #B8A27A;

      margin-left: 10%;
    }
