@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html,body {
    width:100vw;
    height: 100vh;
    margin: 0;
}
#videoBG {
    position:fixed;
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    body {
        background: url('poster.jpg');
        background-size: cover;
    }
}
#textdiv{
  position:fixed;
    color:              white;
    border:             4px solid;
    background:         rgb(0, 2, 6);
    mix-blend-mode:     multiply;
    font:               bolder 12vw 'Alfa Slab One';
    text-align:         center;
    margin:             0;
}
